{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <div class="small-6 large-6 columns">
            <table>
                <caption>Produits</caption>
                <thread>
                    <tr><th>Nom</th><th>prix</th><th>photo</th></tr>
                </thread>
                <tbody>
                {% for produit in produitUser if produitUser is not empty %}
                    <tr>
                        <td>{{ produit.nom }}</td>
                        <td>{{ produit.prix }}</td>
                        <td><img src="{{ asset('images/') }}{{ produit.photo }}" alt="imageProduit" style="width:40px;height: 40px;"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table>
                <caption>Detail</caption>
                <thread>
                    <tr><th>IdCommande</th><th>idUser</th><th>PrixTotal</th><th>date_achat</th><th>etat</th>
                    </tr>
                </thread>
                <tbody>
                {% for commande in commandeUser if commandeUser is not empty %}
                    <tr>
                        <td>{{ commande.id }}</td><td>{{ commande.user_id }}</td><td>{{ commande.prix }}</td><td>{{ commande.date_achat }}</td>
                        <td>{{ commande.libelle }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
            <a href="{{ path('commande.index') }}">retour</a>
        </div>
    </div>
{% endblock %}