{% extends "layout.html.twig" %}
{% block contenu %}

    <div class="row">
        <div class="small-6 large-6 columns">
            <table>
                <caption>Commandes</caption>
                <thread>
                    <tr><th>IdCommande</th><th>idUser</th><th>PrixTotal</th><th>date_achat</th><th>etat</th><th>detail</th><th>Action</th>
                    </tr>
                </thread>
                <tbody>
                {% for commande in commandeUser if commandeUser is not empty %}
                    <tr>
                        <td>{{ commande.id }}</td><td>{{ commande.user_id }}</td><td>{{ commande.prix }}</td><td>{{ commande.date_achat }}</td>
                        <td>{{ commande.libelle }}</td>
                        <td><a href="{{ path('commande.detail',{id:commande.id}) }}">détail</a></td>
                        {% if commande.etat_id == 1 %}
                        <td>
                        <form action="{{ path('commande.update',{id:commande.id}) }}" method="post">
                            <input type="hidden" name="commande_id" value="{{ commande.id }}">
                            <input type="hidden" id="_method" name="_method" value="put" />
                            <input type="submit" name="update" value="update">
                        </form>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}