{% extends "layout.html.twig" %}
{% block contenu %}
<div class="row">
    <div class="small-6 large-6 columns" style="background-color: #c9eee7; width: 80%">
        <h3>Profile</h3>
        <div style="border: 3px #7DA0B1;border-top-style: solid;width: 100%;">
            <h4>Informations personnelles : </h4>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;width: 70%;">
                <strong>Nom</strong> : {{ user.nom }}
            </div>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;width: 70%;">
                <strong>Code Postal</strong> : {{ user.code_postal }}
            </div>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;width: 70%;">
                <strong>Ville</strong> : {{ user.ville }}
            </div>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;border-bottom-style: solid;width: 70%;">
                <strong>Adresse</strong> : {{ user.adresse }}
            </div>
            <a href="{{ path('profile.updatePerso') }}">Modifier</a>
        </div>
        <div style="border: 3px #7DA0B1;border-top-style: solid;width: 100%;">
            <h4>Information du compte : </h4>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;width: 70%;">
                <strong>Pseudo </strong> : {{ user.username }}
                <form action="{{ path('profile.updatePseudo') }}" style="display: inline-block;">
                    <input type="image" src="{{ asset('images/modifier.jpg') }}"  style="width: 25px; height: 25px; position: relative; left:100%;" alt="modifier">
                </form>
            </div>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;width: 70%;">
                <strong>Email </strong> : {{ user.email }}
                <form action="{{ path('profile.updateEmail') }}" style="display: inline-block;">
                    <input type="image" src="{{ asset('images/modifier.jpg') }}"  style="width: 25px; height: 25px; position: relative; left:100%;" alt="modifier">
                </form>
            </div>
            <div style="border: 0.1px #7DA0B1;border-top-style: solid;border-bottom-style: solid;width: 70%;">
                <strong>Mot de passe </strong> : {{ user.motdepasse }}
                <form action="{{ path('profile.updatePassword') }}" style="display: inline-block;">
                    <input type="image" src="{{ asset('images/modifier.jpg') }}"  style="width: 25px; height: 25px; position: relative; left:100%;" alt="modifier">
                </form>
            </div>

            <div>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
