{% extends "layout.html.twig" %}
{% block contenu %}
    <h1>Projet 2 web : site de vente Espace Client</h1>
    
    <div class="row">
        <div class="small-6 large-6 columns">
            <table>
                <caption>Produits</caption>
                <thread>
                    <tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>photo</th><th>ajouter</th>
                    </tr>
                </thread>
                <tbody>
                    {% for produit in dataProduit if dataProduit is not empty %}
                        <tr>
                            <td>{{ produit.nom }}</td><td>{{ produit.id }}</td><td>{{ produit.libelle }}</td><td>{{ produit.prix }}</td>
                            <td><img src="{{ asset('images/')}}{{ produit.photo }}" alt="image de {{ produit.libelle }}" style="width:40px;height: 40px;"></td>
                            <td>
                                <form action="{{ path('panier.add',{id:produit.id}) }}" method="post">
                                    <input type="hidden" name="produit_id" value="{{ produit.id }}">
                                    <input type="image" style="width:40px;height:40px" src="{{ asset('images/ajoutPanier.jpeg') }}" alt="ajout Panier">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <caption>Paniers</caption>
                <thread>
                    <tr><th>nom</th><th>quantite</th><th>prix</th><th>dateAjoutPanier</th><th>supprimer</th>
                    </tr>
                </thread>
                    {% for panier in dataPanier if dataPanier is not empty %}
                        <tr>{% for produit in dataProduit if panier.produit_id == produit.id %}
                            <td>{{ produit.nom }}</td>{% endfor %}
                            <td>{{ panier.quantite }}</td><td>{{ panier.prix }}</td><td>{{ panier.dateAjoutPanier }}</td>
                            <td>
                                <form action="{{ path('panier.delete',{id:panier.id}) }}" method="post">
                                    <input type="hidden" name="panier_id" value="{{ panier.id }}">
                                    <input type="image" style="width:50px;height:50px;" src="{{ asset('images/deletePanier.jpg') }}" alt="delete Panier">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if dataPanier is not empty %}
                <form action="{{ path('commande.add') }}" method="get">
                    <input type="image" style="width:40px;height:40px" src="{{ asset('images/validerCommande.png') }}" alt="valider Commande">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}