{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('profile.validFormMDP') }}">
        <div class="row">
            <fieldset>
                <legend>Modifier mot de passe</legend>
                <label>Entrer votre ancien mot de passe
                    <input name="oldpassword"  type="password"  size="18" value="" />
                    {% if erreurs.oldpassword is defined %}
                        <small class="error">{{erreurs.oldpassword}}</small>
                    {% endif %}
                </label>


                <label>Entrer votre nouveau mot de passe
                    <input name="password"  type="password"  size="18" value="" />
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                </label>


                <label>Confirmer
                    <input name="password2"  type="password"  size="18" value="" />
                    {% if erreurs.password2 is defined %}
                        <small class="error">{{erreurs.password2}}</small>
                    {% endif %}
                </label>
                <input type="hidden" id="id" name="id" value="{{ user.id }}">
                <input type="hidden" id="_method" name="_method" value="put" />
                <input type="submit" name="modifierProfile" value="Modifier" />
            </fieldset>
        </div>
    </form>
{% endblock %}
